<footer class="footer bg-light">
  <div class="container">
    <span class="text-muted">
      <div class="col-lg-6 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="http://localhost:8080/restaurants/1/orders/">Become a partner</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/dishes">Menu</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; pick me up 2018. All Rights Reserved.</p>
      </div>
    </span>
  </div>
</footer>
