<!DOCTYPE html>
<html lang="en">

    <% include ./partials/_header %>

    <main>
      <div class="container">
        <div class="row">
          <h3>Add a new item</h3>
          <form action="/dishes/" method="POST">
            <div class="img-uploader">img uploader here<br /><i class="fa fa-camera"></i></div>
            <input type="text" name="dishName" placeholder="Name">
            <input type="number" name="dishPrice" placeholder="Price($)"><br>
            <textarea name="dishDesc" placeholder="Description"></textarea>
            <input type="hidden" name="accountID">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div><!-- /.container -->

      <!-- edit -->
      <div class="container">
        <div class="row">
          <h3>Edit your dishes</h3>
          <form action="/dishes/" method="POST">
            <div class="img-uploader">img uploader here<br /><i class="fa fa-camera"></i></div>
            <input type="text" name="dishName" placeholder="Name">
            <input type="number" name="dishPrice" placeholder="Price($)"><br>
            <textarea name="dishDesc" placeholder="Description"></textarea>
            <input type="hidden" name="accountID">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="row">
          <h3>Edit your dishes</h3>
          <form action="/dishes/" method="POST">
            <div class="img-uploader">img uploader here<br /><i class="fa fa-camera"></i></div>
            <input type="text" name="dishName" placeholder="Name">
            <input type="number" name="dishPrice" placeholder="Price($)"><br>
            <textarea name="dishDesc" placeholder="Description"></textarea>
            <input type="hidden" name="accountID">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="row">
          <form action="/dishes/" method="POST">
            <div class="img-uploader">img uploader here<br /><i class="fa fa-camera"></i></div>
            <input type="text" name="dishName" placeholder="Name">
            <input type="number" name="dishPrice" placeholder="Price($)"><br>
            <textarea name="dishDesc" placeholder="Description"></textarea>
            <input type="hidden" name="accountID">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="row">
          <form action="/dishes/" method="POST">
            <div class="img-uploader">img uploader here<br /><i class="fa fa-camera"></i></div>
            <input type="text" name="dishName" placeholder="Name">
            <input type="number" name="dishPrice" placeholder="Price($)"><br>
            <textarea name="dishDesc" placeholder="Description"></textarea>
            <input type="hidden" name="accountID">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div><!-- /.container -->

    </main>

    <% include ./partials/_footer %>

  </body>
</html>
