<!DOCTYPE html>
<html lang="en">

    <% include ./partials/_header %>

  <script type="text/javascript" src="/scripts/restaurantOrdersTable.js"></script>
  <script type="text/javascript" src="/vendor/moment.js"></script>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Order page, Table -->
            <h2>Orders</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>order #</th>
                    <th>customer name</th>
                    <th>phone</th>
                    <th>time placed</th>
                    <th>complete</th>
                  </tr>
                </thead>
                <tbody>
        <!-- to fill -->
              </tbody>
              </table>
          </div>
        </div>
      </div><!-- /.container -->
    </main>

    <% include ./partials/_footer %>
  </body>
</html>
