@import "_masthead";
@import "_dishes";
@import "_footer";


$redOrange: #d9532d;
$black: #000;
$white: #fff;
$gray: #f9f9f9;
$darkGray: #adadad;


body {
  background-color: $white;

  nav {
    padding-top: 2em;
    padding-bottom: 2em;

    .logo {
      width: 210px;
      margin: 1em;
    }

    .btn-danger {
      background-color: $redOrange;
      border-color: $redOrange;
    }
  }

  h1 {
    color: #244751;
  }
}

// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }
