@import "_masthead";
@import "_footer";
@import "_variables";


body {
  background-color: #EEE;

  nav {
    padding-top: 2em;
    padding-bottom: 2em;

    .logo {
      width: 210px;
      margin: 1em;
    }

    .btn-danger {
      background-color: #d9532d;
      border-color: #d9532d;
    }
  }

  h1 {
    color: #244751;
  }
}

