$color_grey: #eee;
$color_placeholder: #ccc;
$color_black: #555;
$color_white: #fff;

@mixin border-radius($p) {
    border-radius: $p;
    -moz-border-radius: $p;
    -webkit-border-radius: $p;
}

@mixin box-shadow($v) {
    box-shadow: $v;
    -moz-box-shadow: $v;
    -webkit-box-shadow: $v;
}

@mixin box-sizing($b) {
    box-sizing: $b;
    -moz-box-sizing: $b;
    -webkit-box-sizing: $b;
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
}

@mixin transition($t) {
    transition: $t;
    -moz-transition: $t;
    -webkit-transition: $t;
    -o-transition: $t;
    -ms-transition: $t;
}

@mixin transform($r) {
    transform: $r;
    -ms-transform: $r;
    -moz-transform: $r;
    -webkit-transform: $r;
}
//how to use
//@include border-radius(0);
//@include box-shadow(none);
//
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

/* to remove later when marged */
body {
    background-color: $color_white;
}

/* sticky footer */
// html {
//   min-height: 100%;
//   position: relative;
// }

// // body {
// //   margin-bottom: 5em;
// // }

// footer {
//   bottom: 0;
//   height: 1em;
//   position: absolute;
//   width: 100%;
// }

/* input type number, remove default arrows from the field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    table {
        th.btn-status, td.btn-status {
            border:none;
        }
    }
    h3, form {
        width: 600px;
        margin: 0 auto;
    }
    h3 {
        font-size: 1.1rem;
    }
    form {
        padding: 2rem 0;
        .img-uploader {
            border: 1px dashed $color_grey;
            color: $color_placeholder;
            display: table-cell;
            font-size: 0.9rem;
            float: left;
            height: 112px;
            margin-bottom: 50px;
            padding: 5px 10px;
            text-align: center;
        }
        input, textarea {
            @include placeholder($color_placeholder);
            border: 1px solid $color_grey;
            color: $color_black;
            float: left;
            font-size: 0.9rem;
            margin-bottom: 10px;
            margin-left: 10px;
            padding: 5px 10px;
            width: 200px;
        }
        textarea {
            border: 1px solid $color_grey;
            color: $color_black;
            min-height: 70px;
            width: 410px;
        }
        .btn {
            background-color: $color_grey;
            border: 1px solid $color_grey;
            color: $color_black;
            margin-left: 10px;
            width: 100px;
        }
        .btn:hover {
            background-color: $color_grey;
            border: 1px solid $color_grey;
            color: $color_white;

        }
    }
    // orders
    h2 {
        font-size: 1.7rem;
        margin: 1em 0;
    }
    table {
        margin-bottom: 2rem !important;
        thead tr > th, tbody tr > td {
            text-transform: capitalize;
        }
        tr {
            &.completed {
                background-color: $color_grey;
            }
        }
    }
}



/* shopping cart */
// #cart_detail {
//     display: none;
// }
